<div class="pt-5">
  <BsCarousel @autoPlay={{true}} @wrap={{true}} @index={{0}} @interval={{5000}} @keyboard={{true}} @ltr={{true}}
    @pauseOnMouseEnter={{true}} @showControls={{true}} @showIndicators={{true}} as |car|>
    <car.slide>
      <img alt="First slide" src="/assets/images/banner-1.png">
    </car.slide>
    <car.slide>
      <img alt="Second slide" src="/assets/images/banner-2.png">
    </car.slide>
    <car.slide>
      <img alt="Third slide" src="/assets/images/banner-3.png">
    </car.slide>
  </BsCarousel>
</div>




