{{!-- app/templates/components/product-listing --}}

<div class="card">
  <LinkTo @route="products.show" @model={{this.product}}>
    <img class="card-img-top" src={{this.product.image}} alt="sample">
  </LinkTo>
  <div class="card-body">
    <h5 class="card-title">{{this.product.name}}</h5>
    <p class="card-text">price : {{this.product.price}}</p>
    <p class="card-text">{{this.product.intro}}</p>
  </div>
  <p class="card-footer">
    {{!-- add this product to Cart --}}
    <BsButton @type="primary" @defaultText="Add to Cart" @onClick={{action "addToCart"}} @model={{this.product}} />
    {{!-- end: add this product to Cart --}}
    <LinkTo @route="products.show" @model={{this.product}} class="btn btn-outline-primary">
      View Details
    </LinkTo>
  </p>
</div>