<div class="jumbo show-listing">
  <h2 class="title">{{this.model.name}}</h2>
  <div class="content">
    <div>
      {{!-- <img src={{this.model.image}} class="rental-pic" alt="Picture of {{this.model.title}}"> --}}
    </div>
    <div class="detail-section">
      <div class="detail owner">
        <strong>price : </strong> {{this.model.price}}
      </div>
      <div class="description">
        <p>{{this.model.intro}}</p>
      </div>
    </div>
  </div>
</div>